* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: blue;
}

ul {
    text-align: center;
    padding: 10px;
}

li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
}

li a:hover {
    color: crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
button{
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: cemter;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
button:hover{
opacity: 0.7;
}

#contenedor {
    width: 100%;
    min-height: 100%; /* Cambiado a min-height para asegurar que el contenedor se extienda completamente */
    background-color: bisque;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

#encabezado {
    width: 90%;
    background-color: blanchedalmond;
    margin: 1em auto;
    text-align: center;
    border-radius: 5px;
}

#menu {
    height: 40px;
    background-color: aquamarine;
    margin: 1em auto;
    border-radius: 5px;
}

#pie {
    width: 100%;
    height: 100px;
    background-color: dimgray;
    margin-top: 10px; 
    text-align: center;
    padding: 2.5px;
    border-radius: 2.5px;
    color: bisque;
}

.img {
    width: 25%;
    display: block;
    margin: 0 auto; 
}

.img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px 25px;
    color: black;
}

#ford .texto {
    margin-top: -10px;
}

#contactos {
    text-align: center;
    margin-bottom: 100px;
}

/* Tarjetas */
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow:  hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius:  10px;
  }

  .card:hover{
    max-width: 310px;
  }
  .card img{
    background-color: white;
  }
  .title{
    color: rgb(224, 201, 201);
    font-size: 18px;
  }
  button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  button:hover{
    opacity: 0.7;
  }